.sectionContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.container {
    background: #1A1A2E;
    min-height: 100vh;
}