.sectionContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    background: #1A1A2E;
    color: white;
    /* min-height: 100vh; */
    font-size: 1.875rem;
    line-height: 2.25rem;

}