@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1A1A2E;
  --bg-medium: #16213E;
  --bg-light: #0F3460;
  --accent: #E94560;
  --bg-off-white: rgb(243 244 246);
}
.svg {
  position: fixed;
  z-index: -1;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border font-Poppins scroll-smooth;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-base;
  }
}





.underline-on-hover {
  position: relative;
}
.underline-on-hover::before {
  content: '';
  height: 2px;
  background: #fff;
  width: 0%;
  position:absolute;
  bottom: 0;
  opacity:0;
  transform: translateY(2px);
  transition: opacity 80ms ease-in, width 120ms ease-in;

}
.underline-on-hover:hover::before {
  width: 100%;
  opacity: 1;
}

.my-bg {
  background-image: url('/website-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


