@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  position: fixed;
  z-index: -1;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border font-Poppins;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-base;
  }
}
.section-container {
  @apply container flex relative min-h-full max-w-full flex-col gap-8 p-4 text-center text-3xl;
}
.rotated {
  --rotation-degree: 17deg;
  --negative-rotation-degree: -17deg;
  --background-gradient: 
    linear-gradient(90deg, rgba(36,0,32,1) 0%, rgba(121,9,93,1) 40%, rgba(0,212,255,1) 100%);
  z-index: 0;
  padding: 2rem;
}
.rotated::after {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--rotation-degree));
  @apply bg-gray-100;
}
.rotated::before {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--negative-rotation-degree));
  @apply bg-gray-100;
}
.delay {
  animation-name: fade-in;
  animation-duration: 5s;
  
}
.underline-on-hover {
  position: relative;
}
.underline-on-hover::before {
  content: '';
  height: 2px;
  background: #fff;
  width: 0%;
  position:absolute;
  bottom: 0;
  opacity:0;
  transform: translateY(2px);
  transition: opacity 80ms ease-in, width 120ms ease-in;

}
.underline-on-hover:hover::before {
  width: 100%;
  opacity: 1;
}

.card {
  @apply container relative mx-auto flex max-w-lg flex-col justify-center rounded-md bg-white p-4 text-black duration-150 hover:scale-105 hover:bg-slate-50 hover:ease-in;
  box-shadow: 0 1px 4px 0px #333;
}
.my-bg {
  background-image: url('/website-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
