@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  position: fixed;
  z-index: -1;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-base;
  }
}
.section-container {
  @apply container flex min-h-full max-w-full flex-col gap-8 p-4 text-center text-3xl;
}

.card {
  @apply container relative mx-auto flex max-w-fit flex-col rounded-md bg-medium shadow-md shadow-black;
}
.my-bg {
  background-image: url('/website-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
