@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  position: fixed;
  z-index: -1;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border font-Poppins text-gray-900;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-base;
  }
}
.section-container {
  @apply container flex min-h-full max-w-full flex-col gap-8 p-4 text-center text-3xl;
}

.card {
  @apply container relative mx-auto flex max-w-lg flex-col justify-center rounded-md bg-white p-4 text-black hover:scale-105 hover:bg-slate-50;
  box-shadow: 0 1px 4px 0px #333;
}
.my-bg {
  background-image: url('/website-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
